body {
  background: url("./history1.jpg");
  font-family: "Roboto", sans-serif;
  color: black;
  background-repeat: repeat;
  background-size: 100%;
  margin-top: 30px;
  max-width: 500px;
  margin: auto;
}

#history-form-input {
  padding: 6px 10px;
  background-color: #c0c0c0;
}
#history-form-button {
  background-color: #696969;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#history-form-button:hover {
  background-color: darkkhaki;
}
#history-form-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#ul-list {
  font-size: 18px;
  font-weight: bold;
}
